# Virtual Environment
venv/
pyvenv/
.venv
.env/
*.pyc
__pycache__/

# IDEs Configs
.idea/
.vscode/

# SO Configuration files
.DS_Store

# Installed dependencies
*.egg-info/
*.egg

# Log files
*.log

# Environment Variables
.env